.numbers {
    display: flex;
    margin: 2rem auto;
    width: 90%;
  }
  
  .numbers ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
   
  }
  
  .numbers li {
    display: flex;
    align-items: center;
    color: black;
    background: #ffffff;
    border: 1px solid #ccc;
    height: 60px;
    width: 400px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 0.5rem;
    border-radius: 10px;
  }

  .deletebtn{
    color: #F2CF66;
    cursor: pointer;
  }

  .editbtn{
    color: #F2CF66;
    cursor: pointer;
  }

  .deletebtnlink{
   display: flex;
   justify-content: space-between;
  }