.Header {
  margin-top: 25px;
  font-size: 26px;
  color: white;
  display: flex;
  justify-content: center;
}

.img {
  width: 400px; 
  height: 190px;
  background-image: url(/public/titlemegasena.png);
}