.button {
    font: inherit;
    border: 1px solid #F2CF66;
    background: #F2CF66;
    color: #000000;
    font-weight: 700;
    padding: 0.25rem 1rem;
    cursor: pointer;
    width: 19rem;
    height: 60px;
    border-radius: 10px;
  }
  
  .button:hover,
  .button:active {
    background: #ffe28d;
    border-color: #ffe28d;
  }
  
  .button:focus {
    outline: none;
  }