.button {
    font: inherit;
    border: 1px solid #28a1e7;
    background: #28a1e7;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    height: 70px;
    border-radius: 10px;
  }
  
  .button:hover,
  .button:active {
    background: #45b9fc;
    border-color: #45b9fc
  }
  
  .button:focus {
    outline: none;
  }